/**
 * http://applemusic.tumblr.com/
 * https://jsfiddle.net/xq56dmrh/
 */

/** Regular */
@font-face {
  font-family: "San Francisco";
  font-weight: 400;
  src: url("./fonts/sanfranciscodisplay-regular-webfont.woff") format("woff"),
    url("./fonts/sanfranciscodisplay-regular-webfont.woff2") format("woff2");
}

/** Medium */
@font-face {
  font-family: "San Francisco";
  font-weight: 500;
  src: url("./fonts/sanfranciscodisplay-medium-webfont.woff") format("woff"),
    url("./fonts/sanfranciscodisplay-medium-webfont.woff2") format("woff2");
}

/** Semi Bold */
@font-face {
  font-family: "San Francisco";
  font-weight: 600;
  src: url("./fonts/sanfranciscodisplay-semibold-webfont.woff") format("woff"),
    url("./fonts/sanfranciscodisplay-semibold-webfont.woff2") format("woff2");
}

/** Bold */
@font-face {
  font-family: "San Francisco";
  font-weight: 700;
  src: url("./fonts/sanfranciscodisplay-bold-webfont.woff") format("woff"),
    url("./fonts/sanfranciscodisplay-bold-webfont.woff2") format("woff2");
}
