*,
*:before,
*:after {
  box-sizing: border-box;
}

:root {
  --primary: #333333;
  --secondary: #79797d;
  --background: #f1f0f6;
  --link: #007aff;
}

body {
  margin: 0;
  font-family: San Francisco, serif;
  font-size: 16px;
  line-height: 1.6;
  color: var(--primary);
  background-color: var(--background);
  -webkit-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
  /* firefox scrollbar */
  scrollbar-width: thin;
  scrollbar-color: var(--primary) var(--background);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: San Francisco, sans-serif;
  font-weight: 700;
  line-height: 1.2;
  margin: 0 0 0.5em 0;
}

h1 {
  font-family: San Francisco, serif;
  font-size: 5em;
  margin: 0 0 1em 0;
}

h2 {
  margin: 1.25em 0 0 0;
  font-size: 1.8em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.4em;
}

h5 {
  font-size: 1.3em;
}

h6 {
  font-size: 1.2em;
}

p,
ul,
ol {
  font-size: 1.3rem;
  line-height: 1.75em;
  margin: 1.1em 0;
}

ol,
ul {
  padding-left: 2rem;
  -webkit-padding-start: 5%;
  -webkit-padding-end: 5%;
}

li {
  margin: 1rem 0;
}

li p {
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

a {
  color: var(--link);
  transition: color linear 0.15s;
  text-decoration: none;
}

a:hover {
  color: var(--primary);
}

img {
  max-width: 100%;
}

hr {
  background-image: linear-gradient(
    to right,
    #aaaaaa05,
    var(--secondary),
    #aaaaaa05
  );
  border: 0;
  height: 2px;
  margin: 2.5em auto;
}

code {
  font-family: "SF Mono", menlo, inconsolata, monospace;
  font-size: calc(1em - 2px);
  font-weight: 600;
  padding: 0.2em 0.4em;
  border-radius: 2px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

pre {
  border-radius: 8px !important;
  margin: 1.2em 0 !important;
}

pre code {
  padding: 0;
}

blockquote {
  border-left: 4px solid var(--secondary);
  font-size: 1.4em;
  font-style: italic;
  margin: 2rem 0;
  padding-left: 2rem;
  padding-right: 2rem;
}

blockquote p {
  padding-bottom: 6px;
}

blockquote footer {
  font-size: 1.1rem;
  text-align: right;
}

.container {
  margin: 0 auto;
  max-width: 57em;
  width: 100%;
}

.content h1 {
  font-size: 3em;
  margin: 1em 0;
}

.content img {
  border-radius: 0.3em;
}

.content h2 {
  margin-bottom: 0.8em;
}

.prefix {
  font-weight: 600;
  color: var(--primary);
  margin-right: 0.25rem;
}

@media (max-width: 768px) {
  h1 {
    font-size: 3em;
  }

  .content h1 {
    font-size: 2.4em;
  }

  hr {
    margin: 2em auto;
  }
}

@media (max-width: 480px) {
  body {
    font-size: 14px;
  }

  p,
  ul,
  ol {
    font-size: 1.15rem;
    margin: 1em 0;
  }
}

/* Selection for Firefox & -webkit */
::-moz-selection {
  color: var(--background);
  background: var(--secondary);
}
::selection {
  color: var(--background);
  background: var(--primary);
}

/* -webkit scrollbar */
::-webkit-scrollbar {
  width: 8px;
  overflow: auto;
}
::-webkit-scrollbar-track {
  background: var(--background);
}
::-webkit-scrollbar-thumb {
  background-color: var(--primary);
}
